* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.fa {
	padding: 5px;
	font-size: 25px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	float: right;
	color: black;
}

.container-menu {
	margin-top: 75px;
	background-color: black;
	padding: 10px;
	height: 50px;
	width: 100%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.container-menu ul {
	list-style: none;
	position: relative;
}

.container-menu ul li {
	float: left;
}

.container-menu a {
	padding: 20px;
	text-decoration: none;
	color: white;
	font-size: 25px;
}

.container-corpo {
	height: 100%;
	background-color: white;
	margin-left: 100px;
	margin-right: 100px;
	text-align: justify;
}

.container-corpo p {
	font-size: 15px;
	font-family: Verdana, Geneva, sans-serif;
}

.container-footer {
	background-color: black;
	height: 90px;
	padding: 10px;
	color: rgb(178, 178, 178);
}


.container-produto {
	background-color: red;
	height: 70px;
	width: 50px;
}


/*----------> Slides <--------*/
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%
	text-align: center;
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

.title {
	font-size: 30px;
	font-weight: bold;	
}


@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@media only screen and (max-width: 500px) {
	.prev, .next, .text {font-size: 11px}

	.container-corpo {
		margin-left: 50px; 
		margin-right: 50px;
	}

.container-menu a {
	padding: 15px;
	font-size: 20px;
}

}